# Impede listagem de pastas
Options -Indexes

RewriteEngine On

# Se acessar a raiz, vai direto para o login
RewriteRule ^$ public/login [L]

# Redireciona tudo para a pasta public (sem caminho fixo)
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]